
$colorblue:#3563E9;
$colorF:#FFFFFF;
$colorRed:#FF4423;
$colorgre:#596780;

$colorC3:#C3D4E966;
$colorrgb:rgba(195, 212, 233, 0.40);
$colorheardicon:#ED3F3F;

$colorblac:#1A202C;

$cardspcolors:#90A3BF;
$lirgba:rgba(19, 19, 19, 0.60);