* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

* {
  font-family: " Plus Jakarta Sans"; }

h1, h2, h3, h4, h5, h6, p, ul, li, span, div, i, a, button {
  font-family: " Plus Jakarta Sans"; }

.footer {
  width: 100%;
  display: flex;
  height: 480px;
  background-color: #FFFFFF;
  flex-direction: column;
  border: 1px solid rgba(195, 212, 233, 0.4);
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer__first {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70%;
    position: relative; }
    .footer__first__left {
      width: 292px;
      position: absolute;
      left: 60px;
      top: 80px;
      height: 108px; }
      .footer__first__left h3 {
        font-size: 32px;
        padding-bottom: 16px;
        color: #3563E9; }
      .footer__first__left p {
        width: 292px;
        font-size: 16px;
        color: rgba(19, 19, 19, 0.6); }
    .footer__first__right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      right: 3%;
      top: 80px; }
      .footer__first__right__ul1, .footer__first__right__ul2, .footer__first__right__ul3 {
        display: flex;
        width: 140px;
        height: 188px;
        flex-direction: column;
        font-size: 16px;
        color: rgba(19, 19, 19, 0.6);
        gap: 24px;
        align-items: start;
        justify-content: center; }
        .footer__first__right__ul1 h3 a, .footer__first__right__ul2 h3 a, .footer__first__right__ul3 h3 a {
          font-size: 20px;
          color: #1A202C; }
        .footer__first__right__ul1 ul li a, .footer__first__right__ul2 ul li a, .footer__first__right__ul3 ul li a {
          display: flex;
          align-items: start;
          margin-bottom: 12px;
          color: rgba(19, 19, 19, 0.6);
          font-size: 16px;
          transition: 0.5s; }
        .footer__first__right__ul1 ul li a:hover, .footer__first__right__ul2 ul li a:hover, .footer__first__right__ul3 ul li a:hover {
          text-decoration: underline; }
      .footer__first__right__ul3 {
        width: 90px; }
  .footer__middle {
    width: 100%;
    height: 1px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer__middle__line {
      color: rgba(19, 19, 19, 0.6);
      background-color: rgba(19, 19, 19, 0.6);
      width: 92%;
      height: 1px; }
  .footer__last {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 2%; }
    .footer__last__morent {
      position: absolute;
      width: 292px;
      height: 24px;
      left: 4%;
      font-size: 16px;
      color: #1A202C; }
    .footer__last__privacy {
      display: flex;
      justify-content: end;
      text-align: right;
      gap: 40px;
      position: absolute;
      right: 5%;
      width: 320px; }
      .footer__last__privacy h4 a {
        color: #1A202C;
        font-size: 15px; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

* {
  font-family: " Plus Jakarta Sans"; }

h1, h2, h3, h4, h5, h6, p, ul, li, span, div, i, a, button {
  font-family: " Plus Jakarta Sans"; }

.header {
  width: 100%;
  height: 124px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(195, 212, 233, 0.4);
  background: #FFFFFF; }
  .header__left {
    display: flex;
    justify-content: center;
    align-items: center; }
    .header__left__loqo {
      margin-left: 60px;
      color: #3563E9;
      width: 148px;
      height: 44px;
      font-size: 32px;
      font-style: normal;
      font-weight: 700; }
    .header__left__search {
      position: relative;
      width: 492px;
      height: 44px;
      border-radius: 70px;
      border: 1px solid rgba(195, 212, 233, 0.4);
      background: #FFFFFF;
      margin-left: 64px; }
      .header__left__search__inside {
        position: relative;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .header__left__search__inside__logo {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 10px 0px 10px 20px;
          width: 24px;
          height: 24px; }
        .header__left__search__inside__text {
          left: 64px;
          color: #596780;
          text-align: center;
          position: absolute;
          font-size: 14px;
          font-style: normal;
          font-weight: 500; }
        .header__left__search__inside__filter {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          right: 20px; }
  .header__right {
    width: 236px;
    height: 44px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 32px; }
    .header__right__firsticon, .header__right__secondicon, .header__right__thirdicon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      background-color: #C3D4E966;
      height: 44px;
      border-radius: 90px;
      border: 1px solid rgba(195, 212, 233, 0.4);
      opacity: 0.8; }
      .header__right__firsticon a, .header__right__secondicon a, .header__right__thirdicon a {
        color: #596780; }
    .header__right__secondicon {
      position: relative; }
      .header__right__secondicon__redicon {
        color: #FF4423;
        position: absolute;
        width: 11px;
        height: 11px;
        right: 7px;
        margin-bottom: 5px;
        bottom: 31px; }
    .header__right__image {
      width: 44px;
      height: 44px;
      border-radius: 90px; }
