@import '../utils/mixin';
@import '../utils/variables';
@import '../base/typography';
@import '../utils/color';
@import '../components/icons';

.header {
    width: 100%;
    height: 124px;
    @include displeyspacebetween;
    border: 1px solid $colorrgb;
    background: $colorF;

    &__left {
        @include displeycenter;

        .mobileversion {
            margin-left: 3%;
            display: none;
            width: 24px;
            height: 24px;
            justify-content: center;
            align-items: center;
            font-size: 20px
        }

        &__loqo {
            margin-left: 60px;
            color: $colorblue;
            width: 148px;
            height: 44px;

            font-size: 32px;
            font-style: normal;
            font-weight: 700;
        }

        &__search {
            position: relative;
            width: 492px;
            height: 44px;
            border-radius: 70px;
            border: 1px solid $colorrgb;
            background: $colorF;


            margin-left: 64px;



            &__inside {
                position: relative;

                &:hover {
                    cursor: text;
                }

                height: 44px;
                @include displeyspacebetween;

                &__text {

                    left: 64px;
                    color: $colorgre;
                    text-align: center;
                    position: absolute;

                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                }

                &__filter {
                    position: absolute;
                    @include displeycenter;
                    right: 20px;
                }

            }
        }
    }

    &__right {
        width: 236px;
        height: 44px;
        position: relative;
        @include displeycenter;
        gap: 20px;
        margin-right: 32px;

        &__image {
            width: 44px;
            height: 44px;
            border-radius: 90px;
        }
    }
}

@media only screen and (max-width: 767px) {

    .header {
        width: 100%;
        height: 160px;

        .mobileversion {
            display: block;
        }

        .header__left {
            margin-top: 10px;
            margin-left: 10px;
            align-items: start;
            justify-content: start;
            flex-direction: column;

            .header__left__loqo {
                margin-bottom: 10px;
            }
        }

        .header__right>div {
            display: none;
        }

       
    }

    
}